* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}

div.square {
    background-color: black;
    opacity: 0;
    height: 60px;
    width: 60px;
    flex-grow: 1;
    flex-shrink: 1;
}